.dropdown
  %a#dropdownMenuLink.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", class: 'far fa-user-circle fa-2x'}
  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
    %a.dropdown-item{:href => "#"} Profile
    %a.dropdown-item{:href => "#"} Settings
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'