%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => root_path}
            %span.fas.fa-home
            Home
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-3{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %ul.navbar-nav
        %li.nav-item
          = pick_user_profile_button
        %li.nav-item.ml-sm-3{:id => 'tweet-btn'}
          = link_to 'Tweet', new_post_path, class: 'btn btn-primary btn-sm'
